<div class="w-full">
    <app-header
        title="Profile"
        subtitle="You may update your profile here"
        icon="account_circle"
    ></app-header>

    <ng-container *ngIf="faculty$ | async as faculty">
        <ng-container *ngFor="let profile of [profile$ | async]">
            <profile-account
                [faculty]="faculty"
                [profile]="profile"
            ></profile-account>

            <profile-information
                [faculty]="faculty"
                [profile]="profile"
            ></profile-information>

            <profile-educational-background
                [faculty]="faculty"
                [profile]="profile"
            ></profile-educational-background>

            <profile-employment
                [faculty]="faculty"
                [profile]="profile"
            ></profile-employment>

            <profile-others
                [faculty]="faculty"
                [profile]="profile"
            ></profile-others>
        </ng-container>
    </ng-container>
</div>
