<div class="flex flex-col flex-auto p-3 -mt-3 overflow-hidden bg-card md:px-10">
    <div
        class="flex flex-col flex-auto overflow-x-auto overflow-y-auto border-t border-t-gray-200"
    >
        <table class="overflow-y-visible min-w-240">
            <thead class="text-left">
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let faculty;
                        let i = index;
                        trackBy: trackByFn;
                        of: faculties
                    "
                    class="text-center border-t h-[45px] border-gray-100 hover:bg-gray-50"
                >
                    <td>
                        {{ faculty.first_name }} {{ faculty.middle_name }}
                        {{ faculty.last_name }}
                    </td>
                    <td>{{ faculty.email }}</td>
                    <td>{{ faculty.position }}</td>

                    <td class="text-center rounded-r-2xl">
                        <div class="flex">
                            <button
                                matTooltip="Change Status"
                                class="flex items-center mx-auto hover:underline"
                                [matMenuTriggerFor]="tableMenu"
                            >
                                <mat-icon
                                    class="ml-3"
                                    svgIcon="feather:more-horizontal"
                                ></mat-icon>
                            </button>

                            <mat-menu
                                [xPosition]="'before'"
                                #tableMenu="matMenu"
                            >
                                <button
                                    [routerLink]="'/profile/' + faculty.id"
                                    mat-menu-item
                                >
                                    View Faculty
                                </button>

                                <button
                                    *ngIf="isAdmin"
                                    mat-menu-item
                                    (click)="remove(faculty)"
                                >
                                    Remove
                                </button>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div *ngIf="pagination$ | async as table">
			<pagination
				[table]="table"
				*ngIf="table.meta.total !== 0"
				class="w-full rounded-sm"
				(onPageChange)="paginate($event)"
			></pagination>
		</div> -->
    </div>
</div>
