<div class="flex flex-col flex-auto p-3 -mt-3 overflow-hidden bg-card md:px-10">
    <div
        class="flex flex-col flex-auto overflow-x-auto overflow-y-auto border-t border-t-gray-200"
    >
        <table class="overflow-y-visible min-w-240">
            <thead class="text-left">
                <tr>
                    <th>Faculty</th>
                    <th>Title</th>
                    <th>Involvement</th>
                    <th>Description</th>
                    <th>Level</th>
                    <th>Agency</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Files</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="
                        let trainingAndSeminar;
                        let i = index;
                        trackBy: trackByFn;
                        of: trainingAndSeminars
                    "
                    class="text-center border-t h-[45px] border-gray-100 hover:bg-gray-50"
                >
                    <td>
                        <ng-container *ngIf="trainingAndSeminar.faculties">{{
                            trainingAndSeminar.faculties.join(', ')
                        }}</ng-container>
                    </td>
                    <td>{{ trainingAndSeminar.title }}</td>
                    <td>{{ trainingAndSeminar.involvement }}</td>
                    <td>{{ trainingAndSeminar.description }}</td>
                    <td>{{ trainingAndSeminar.level }}</td>
                    <td>{{ trainingAndSeminar.agency }}</td>
                    <td>{{ trainingAndSeminar.startDate }}</td>
                    <td>{{ trainingAndSeminar.endDate }}</td>
                    <td>
                        <ng-container *ngIf="trainingAndSeminar.files">
                            <a
                                href="file"
                                target="_blank"
                                *ngFor="
                                    let file of trainingAndSeminar.files;
                                    trackBy: trackByFn
                                "
                                >{{ file }}</a
                            >
                        </ng-container>
                    </td>
                    <td class="text-center rounded-r-2xl">
                        <div class="flex">
                            <button
                                class="flex items-center mx-auto hover:underline"
                                [matMenuTriggerFor]="tableMenu"
                            >
                                <mat-icon
                                    class="ml-3"
                                    svgIcon="feather:more-horizontal"
                                ></mat-icon>
                            </button>

                            <mat-menu
                                [xPosition]="'before'"
                                #tableMenu="matMenu"
                            >
                                <button
                                    *ngIf="isAdmin"
                                    (click)="remove(trainingAndSeminar)"
                                    mat-menu-item
                                >
                                    Remove
                                </button>
                            </mat-menu>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- <div *ngIf="pagination$ | async as table">
			<pagination
				[table]="table"
				*ngIf="table.meta.total !== 0"
				class="w-full rounded-sm"
				(onPageChange)="paginate($event)"
			></pagination>
		</div> -->
    </div>
</div>
