<div class="w-full">
    <app-header
        title="Faculties"
        subtitle="List of Registered Faculties "
        icon="mat_outline:person_pin"
    ></app-header>

    <div class="flex items-center py-2 bg-white border-b">
        <div class="ml-auto">
            <button
                (click)="addFaculty()"
                class="mr-3 text-white bg-isat-blue"
                mat-button
            >
                Add Faculty
            </button>
        </div>
    </div>

    <ng-container *ngIf="faculties$ | async as faculties">
        <faculty-list [faculties]="faculties"></faculty-list>
    </ng-container>
</div>
