<div class="p-5 py-10 bg-white border-b">
    <div class="mb-3 text-4xl font-semibold">Others</div>

    <form
        class="grid w-full grid-cols-1 gap-x-5 md:grid-cols-3"
        [formGroup]="form"
    >
        <!-- <ng-container *ngIf="subjects$ | async as subjects">
            <mat-form-field>
                <mat-label>Subjects</mat-label>

                <mat-select multiple formControlName="subjects">
                    <mat-option
                        [value]="subject.id"
                        *ngFor="let subject of subjects"
                        >{{ subject.title }}</mat-option
                    >
                </mat-select>
            </mat-form-field>
        </ng-container> -->

        <mat-form-field>
            <mat-label>Awards (Separated by comma)</mat-label>

            <textarea formControlName="awards" matInput autoSize></textarea>
        </mat-form-field>
    </form>

    <div *ngIf="!form.disabled" class="flex">
        <button
            (click)="save()"
            class="ml-auto mr-3 text-white bg-isat-blue"
            mat-button
        >
            Update Information
        </button>
    </div>
</div>
