<div class="w-full">
    <app-header
        title="Researches"
        subtitle="List of your researches "
        icon="mat_outline:folder"
    ></app-header>

    <div class="flex items-center py-2 bg-white border-b">
        <div class="ml-auto">
            <button
                (click)="add()"
                class="mr-3 text-white bg-isat-blue"
                mat-button
            >
                Add Research
            </button>
        </div>
    </div>

    <ng-container *ngIf="researches$ | async as researches">
        <research-list [researches]="researches"></research-list>
    </ng-container>
</div>
