<div
    class="grid w-full min-w-0 grid-cols-1 gap-6 px-5 py-5 sm:grid-cols-2 md:grid-cols-4"
>
    <div class="flex flex-col flex-auto p-6 overflow-hidden rounded-sm bg-card">
        <div class="flex flex-col items-center mt-2">
            <div
                class="font-bold leading-none tracking-tight text-isat-blue text-7xl sm:text-8xl"
            >
                {{ (faculties$ | async).length }}
            </div>

            <div class="text-lg font-medium text-isat-blue">Faculties</div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="font-medium truncate text-md">
                    List of Registered Faculties in the System
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-6 overflow-hidden rounded-sm bg-card">
        <div class="flex flex-col items-center mt-2">
            <div
                class="font-bold leading-none tracking-tight text-isat-orange text-7xl sm:text-8xl"
            >
                {{ (publications$ | async).length }}
            </div>

            <div class="text-lg font-medium text-isat-orange">Publications</div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="font-medium truncate text-md">
                    List of Encoded Publications in the System
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-6 overflow-hidden rounded-sm bg-card">
        <div class="flex flex-col items-center mt-2">
            <div
                class="font-bold leading-none tracking-tight text-teal-500 text-7xl sm:text-8xl"
            >
                {{ (researches$ | async).length }}
            </div>

            <div class="text-lg font-medium text-teal-500">Researches</div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="font-medium truncate text-md">
                    List of Added Researches in the System
                </div>
            </div>
        </div>
    </div>

    <div class="flex flex-col flex-auto p-6 overflow-hidden rounded-sm bg-card">
        <div class="flex flex-col items-center mt-2">
            <div
                class="font-bold leading-none tracking-tight text-emerald-500 text-7xl sm:text-8xl"
            >
                {{ (trainingAndSeminars$ | async).length }}
            </div>

            <div class="text-lg font-medium text-emerald-500 text">
                Training & Seminars
            </div>

            <div
                class="flex items-baseline justify-center w-full mt-5 text-secondary"
            >
                <div class="font-medium truncate text-md">
                    List of Training & Seminars in the System
                </div>
            </div>
        </div>
    </div>
</div>
