<div class="w-full">
    <app-header
        title="Subjects"
        subtitle="Register all the subjects here so that faculty can use it"
        icon="mat_outline:book"
    ></app-header>

    <div class="flex items-center py-2 bg-white border-b">
        <div class="ml-auto">
            <button
                *ngIf="isAdmin"
                (click)="add()"
                class="mr-3 text-white bg-isat-blue"
                mat-button
            >
                Add Subject
            </button>
        </div>
    </div>

    <ng-container *ngIf="subjects$ | async as subjects">
        <subject-list [subjects]="subjects"></subject-list>
    </ng-container>
</div>
